/Exercicio01/nbproject/private/
/Exercicio1/nbproject/private/
/Exercicio1/build/
/Exercicio2/nbproject/private/
/Exercicio2/build/
/Exercicio3/nbproject/private/
/Exercicio3/build/
/Exercicio4/nbproject/private/
/Exercicio4/build/
/Exercicio5/nbproject/private/
/Exercicio5/build/
/Exercicio6/nbproject/private/
/Exercicio6/build/
/Exercicio7/nbproject/private/
/Exercicio7/build/
/Exercicio8/nbproject/private/
/Exercicio8/build/
/Exercicio9/nbproject/private/
/Exercicio9/build/
/Exercicio10/nbproject/private/
/Exercicio10/build/